.fit-col-img {
  width: 100%;
  object-fit: cover;
}
.home-thumnail-menu {
  text-align: center;
  color: white;
  background-color: #294552;
  margin-bottom: 10px;
}
.home-thumnail-menu-icon {
  width: 100%;
  max-width: 150px;
}

body {
  background-color: #1A2930;
}
.home-thumnail-link:hover {
  color: white;
  text-decoration: none;
}
.home-thumnail-link:link {
  color: white;
  text-decoration: none;
}
.home-thumnail-link:visited {
  color: white;
  text-decoration: none;
}

.btn-link-nounderline .btn-link-nounderline:hover .btn-link-nounderline:link .btn-link-nounderline:visited .btn-link:active{
  text-decoration: none;
}

.topic-header {
  color: rgb(70, 80, 218);
}